double_click_delay = 100

[theme]
theme = "ctp-mocha"

[icons]
icons = "awesome6"

# whats playing
[[block]]
block = "custom"
command = "mpc current"
interval = 5
[[block.click]]
button = "left"
cmd = "mpc toggle"
[[block.click]]
button = "right"
cmd = "mpc stop"
[[block.click]]
button = "wheel_up"
cmd = "mpc volume +10"
[[block.click]]
button = "wheel_down"
cmd = "mpc volume -10"
[[block.click]]
button = "forward"
cmd = "mpc next"
[[block.click]]
button = "back"
cmd = "mpc prev"


# hostname
[[block]]
block = "custom"
command = "cat /etc/hostname"
interval = "once"

# kernel
[[block]]
block = "custom"
command = "echo `uname` `uname -r`"
interval = "once"

[[block]]
block = "custom"
command = "sed 's/  //' <(curl 'https://wttr.in/trondheim?format=1' -s)"
interval = 600
[[block.click]]
button = "left"
cmd = "swaymsg 'workspace 1' && firefox 'https://wttr.in/trondheim'"

[[block]]
block = "custom"
command = "echo ip $(ip a | rg /24 | awk '{print $2}')"
interval = 1
[[block.click]]
button = "left"
cmd = "swaymsg 'workspace 3' && alacritty --hold -e 'ip a'"

[[block]]
block = "cpu"
format = "$icon $utilization"

[[block]]
block = "memory"
format = "$icon $mem_used/$mem_total"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = "$icon $used/$total ($available.eng(w:2) free)"
[[block.click]]
button = "left"
cmd = "swaymsg 'workspace 3' && alacritty --hold -e 'df -h'"

[[block]]
block = "custom"
command = "echo ext $(curl -s http://whatismyip.akamai.com/)"
interval = 200
cmd = "swaymsg 'workspace 1' && firefox 'https://duckduckgo.com/?q=what+is+my+ip&ia=answer'"

# cpu
[[block]]
block = "custom"
command = "echo Tctl $(sensors | grep Tctl | awk '{print $2}')"
interval = 1
[[block]]
block = "custom"
command = "echo Tccd1 $(sensors | grep Tccd1 | awk '{print $2}')"
interval = 1
[[block]]
block = "custom"
command = "echo Tccd2 $(sensors | grep Tccd2 | awk '{print $2}')"
interval = 1
# gpu
[[block]]
block = "custom"
command = "echo edge $(sensors | grep edge | awk '{print $2}')"
interval = 1
[[block]]
block = "custom"
command = "echo jnct $(sensors | grep junct | awk '{print $2}')"
interval = 1
[[block]]
block = "custom"
command = "echo gpufan $(sensors | sed '0,/amdgpu/d' | grep fan1 | awk '{print $2}')"
interval = 1

[[block]]
block = "sound"
[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "time"
interval = 5
format = "$timestamp.datetime(f:'%a %d/%m %R')"
